@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h2> SportsPro Technical Support</h2>
    <p> Sports management software for the spots enthusiast</p>
    <h3> Admin </h3>
    <div class="d-grid gap-2">
        <a asp-controller="Product" asp-action="List" class="btn btn-lg btn-primary" type="button"> Manage Product</a>
        <a asp-controller="Technician" asp-action="List" class="btn btn-lg btn-primary" type="button"> Manage Technicians </a>
        <a asp-controller="Customer" asp-action="List" class="btn btn-lg btn-primary" type="button"> Manage Customers</a>
        <a asp-controller="Incident" asp-action="List" class="btn btn-lg btn-primary" type="button"> Manage Incidents</a>
        <a asp-controller="Registration" asp-action="ListCustomers" class="btn btn-lg btn-primary" type="button"> Manage Registration</a>
    </div>
    <h3> Technicians </h3>
    <div class="d-grid gap-2">
        <a asp-controller="techIncident"  asp-action="ListTechnicians"  class="btn btn-lg btn-primary" type="button">Update Incident</a>
    </div>
</div>




