html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Selects any invalid <input> */
input:invalid {
    border-color: red;
    background-color: lightpink;
}

select:invalid {
    border-color: red;
    background-color: lightpink;
}