@model Customer

<h1>
	Get Customer
</h1>

<form asp-action="CustomerRegistrations" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
  
    <div class="row mb-3">
        <div class="col-sm-10">
            <select class="form-select " asp-for="customerID" required>
                 <option   selected disabled value="">Select a customer</option>
                @foreach (Customer c in ViewBag.customers)
            {
                <option  value="@c.customerID">@c.firstName @c.lastName</option>
               
            }
            </select>
        </div>
    
        <div class="col">

            <button type="submit" class="btn btn-primary">Select</button>
        <a asp-controller = "Home" asp-action="Index"
           class="btn btn-primary">Cancel</a>
        </div>
    
        
</form>
